@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "monospace", monospace;
  --color-primary: #008A2E;
  --color-secondary: #DE2910;
  --color-primary-light: #e6f5eb;
}